.stats-header {
  margin-bottom: 0;
  color: #fff;
  background-color: rgb(21, 74, 172);
  padding: 4px;
  font-family: 'Lato', sans-serif;
}

.mysuperlist {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  list-style-type: none;

  /* border: 1px solid rgb(255, 255, 255); */
  padding: 0 0;
  cursor: pointer;
  margin-top: 0;
}

.mysuperlist a {
  text-decoration: none;
}

.homeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(29, 108, 255, 0.756);
  width: 48vw;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.homeItem:hover {
  background-color: rgba(13, 56, 137, 0.378);
}

.home-item-info {
  padding-right: 5px;
  padding-bottom: 5px;
}

.myImage {
  padding-left: 10px;
  width: 55px;
}

.homeItemImage {
  display: flex;
  justify-content: center;
}

.half-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1px;
  padding-top: 0;
  margin-top: 0;
}

.price {
  margin: 0 0 10px;
  font-size: 17px;
  color: #fff;
  font-family: 'Gill Sans', sans-serif;
}

.rank-and-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  width: 92%;
  margin-bottom: 8px;
}

.forwardIcon {
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

.rank {
  background-color: rgb(40, 40, 255);
  border-radius: 20px;
  width: 80px;
  padding: 2px;
  text-align: center;
  color: rgba(255, 255, 255, 0.764);
  margin-bottom: 0;
  transition: all 0.5s ease-in-out;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.rank:hover {
  box-shadow: rgb(0, 208, 255) 0 3px, rgb(0, 208, 255) 0 6px, rgb(0, 208, 255) 0 9px, rgb(0, 208, 255) 0 12px, rgb(0, 208, 255) 0 15px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  margin: 0;
  color: #fff;
  font-family: 'Gill Sans', sans-serif;
}

.symbol {
  margin-left: 3px;
  font-weight: 400;
  color: rgba(225, 225, 225, 0.766);
}

.myCoinContainer {
  background-color: rgb(255, 255, 255);
  padding: 5px 5px;
  width: 85vw;
  margin: 11px auto;
  border-radius: 10px;
  box-shadow: rgba(46, 201, 240, 0.4) 5px 5px, rgba(46, 201, 240, 0.3) 10px 10px, rgba(46, 201, 240, 0.2) 15px 15px, rgba(46, 201, 240, 0.1) 20px 20px, rgba(46, 214, 240, 0.05) 25px 25px;
}

.coinTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: #fff;
  background-color: rgb(0, 208, 255);
  border-radius: 5px 5px 0 0;
  box-shadow: inset 1px 1px 8px rgba(79, 236, 241, 0.303);
  font-family: 'Gill Sans', sans-serif;
}

.coinHeader {
  display: flex;
  gap: 3px;
  background-color: rgba(28, 15, 214, 0.878);
  border-top: 4px solid rgba(28, 15, 214, 0.878);
}

.devider {
  background-color: #2828ff;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  height: 6rem;
  box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.303);
}

.devider p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
}

.coinCategory {
  margin-top: 0;
  padding: 5px;
}

.head-subtitle {
  font-size: 15px;
  height: 10px;
  color: rgba(255, 255, 255, 0.874);
  font-family: 'Gill Sans', sans-serif;
  font-weight: 300;
}

.coinPrices {
  display: flex;
  justify-content: space-between;
  background-color: #2828ff;
  padding: 11px;
  gap: 5px;
  overflow-x: scroll;
}

.coinPrices::-webkit-scrollbar-thumb {
  background-color: #a9a9a9a2;
  border-radius: 20px;
  border: none;
  transition: all 0.3s ease-in;
}

.coinPrices::-webkit-scrollbar-track {
  border-radius: 10px;
}

.coinPrices::-webkit-scrollbar:vertical {
  width: 10px;
}

.coinPrices::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.coinPrices::-webkit-scrollbar:horizontal {
  height: 7px;
}

.coinPrices::-webkit-scrollbar-thumb:hover {
  background-color: #dededea2;
}

.supply {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #2828ff;
}

.supply:hover {
  background-color: rgb(24, 101, 249);
}

.supply h3 {
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', sans-serif;
}

.supply p {
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.max-supply {
  border-top: 2px solid rgba(255, 255, 255, 0.226);
  border-bottom: 2px solid rgba(255, 255, 255, 0.226);
}

.sp {
  border-top: 2px solid rgba(255, 255, 255, 0.226);
}

.coinImg {
  animation: MoveUpDown 3.5s linear infinite;
  position: absolute;
  left: 380px;
  top: 120px;
}

@keyframes MoveUpDown {
  0%,
  100% {
    top: 165px;
  }

  50% {
    top: 180px;
  }
}

.coinBodyTitle {
  color: rgba(255, 255, 255, 0.899);
  background-color: rgb(24, 101, 249);
  margin: 0;
  padding: 2px;
  font-family: 'Gill Sans', sans-serif;
  font-weight: 100;
}

.change {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: rgb(0, 208, 255);
  border-radius: 50px;
  padding: 2px 8px;
  color: rgba(255, 255, 255, 0.932);
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.303);
}

.change h3 {
  margin: 5px 0;
  font-size: 17px;
  font-family: 'Gill Sans', sans-serif;
}

.coinprice {
  margin: 3px 0;
  font-family: 'Lato', sans-serif;
}

.coinSocial {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding-top: 10px;
}

.socialIcon {
  width: 25px;
  transition: all 0.5s ease-in-out;
}

.socialIcon:hover {
  filter: brightness(40%);
}

.form {
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 20px auto;
  padding: 0.5rem 0.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form:focus {
  outline: 8px ridge rgb(0, 208, 255);
}

.myloader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.myloader p {
  font-family: 'Lato', sans-serif;
  color: rgb(0, 208, 255);
}

.loader {
  width: 20px;
  height: 20px;
}

.hl {
  background-color: #2828ff;
}

@media (min-width: 768px) {
  .homeItem {
    width: 32.9vw;
    height: 30.55vh;
  }

  .coinImg {
    animation: none;
    position: static;
  }
}
