* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  text-align: center;
  width: 100%;
}

.card {
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .card {
    display: flex;
    justify-content: space-around;
    padding: 30px 2px;
    font-size: 11px;
  }

  img {
    width: 50px;
    height: 50px;
  }
}
