@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,500;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url('./assets/Crypto4-1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: #fff;
}

.desk {
  color: rgb(0, 208, 255);
}

.icons {
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  text-align: center;
  width: 100%;
  padding-left: 0;
}

.card {
  border-radius: 20px;
}

.navLinks {
  align-items: center;
  -webkit-animation: fadebetween 35s infinite;
  animation: fadeBetween 35s infinite;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  border: 2px solid rgb(0, 208, 255);
  padding: 0 0 0 5px;
  border-radius: 1rem;
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.635);
}

.searchContainer {
  display: flex;
  justify-content: center;
}

.searchIcon {
  font-size: 1.75rem;
  padding: 5px;

  /* background-color: rgba(255, 255, 255, 0.848);
  border-radius: 2rem; */
}

.searchInput {
  height: 3rem;
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
}

.name {
  max-width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.symbol,
.price {
  margin-bottom: 0;
}

.floater {
  margin-top: 65px;
}

.rank {
  background-color: #2828ff;
  border-radius: 20px;
  color: hsla(0, 0%, 100%, 0.764);
  font-family: Lato, sans-serif;
  font-size: 13px;
  padding: 2px;
  white-space: nowrap;
  text-align: center;
  transition: all 0.5s ease-in-out;
  width: 73px;
  cursor: pointer;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .card {
    display: flex;
    justify-content: space-around;
    padding: 30px 2px;
    font-size: 11px;
  }

  img {
    width: 50px;
    height: 50px;
  }
}
